//colora
$color-premier: #2F2FA1;
$color-premier-light:($color-premier + #111);
$color-premier-dark: #242582 - #111;
$color-premier-dark2 : #1315a0;

$color-pink : #f64c72;
$color-pink-grey : #553d67;

$color-white:#fff;

$color-dark:#191919;

$color-gary-blue:#1f2833;

$color-gray: #545454;
$color-gary-2:#f9f9f9;




//GRID
$gridWidth:114rem;
$gutterVertical:6rem;
$gutterHorizontal:5rem;

//font
$defaultFontSize : 1.6rem;