@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/animations";

@import "base/animation";
@import "base/base";
@import "base/headings";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/project-desc";
@import 'components/certification-popup';
@import 'components/spinner';

@import "layout/grid";
@import "layout/navigation";
@import "layout/header";
@import "layout/footer";

@import "pages/home";









