.cert__popups{
    .certifications__img-popup{
        position: fixed;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 51%;
        transform: translate(-50%, 0);
        transition: top .4s ease-in-out,
                    opacity .2s ease-in-out;

        img{
            width: 100%;
        }

        &__close{
            display: none;
        }

        &.active-img-cont{  
            top: 53%;
            left: 51%;
            transform: translate(-50%, -50%);
            width: 53vw;
            height: auto;
            z-index: 999999999;
            margin: 0;
            opacity: 1;
            visibility: visible;
            
            @include respond(tab-port){
                width: 76vw!important; 
            }
            @include respond(phone){
                width: 90vw!important; 
            }
             .certifications__close{
                position: absolute;
                top: -1rem;
                right: -3.5rem;
                font-size: 3.5rem;
                z-index: 99999999;
                display: block;
                transition: all .4s;
                cursor: pointer;
                color: $color-gary-blue;
                &:hover{
                    transform: rotateZ(-90deg);
                    color: $color-pink;
                }
                
  
                @include respond(phone){
                    top: -4rem;
                    right: .5rem;
                }
                
            }
        }   
    }
}