       
*{
    font-family: 'Muli', sans-serif;
        
}

html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 60%; 
    }

    @include respond(tab-port){
        font-size: 55%; 
    }

    @include respond(phone){
        font-size: 50%; 
    }
    
    
}

h1,h2,h3,h4,h5,div,p{
    margin:0;
    padding: 0; 
}

a:link,a:hover,a:focus,a:active{
    text-decoration: none;
}

i{
    font-family: fontawesome;
}

::selection {
    background: $color-pink;
    color: #eee; /* WebKit/Blink Browsers */
}
  ::-moz-selection {
    background: $color-pink;
    color: #eee; /* Gecko Browsers */
}


// HEADINGS

.heading-first{
    font-size: 7em;
    font-weight: bold;
    margin: 2rem 0;
    

    @include respond(phone){
        font-size: 5.5rem;
    }
}

.heading-second{
    text-transform: capitalize;
    font-size: 4rem;
    color: $color-gary-blue;
    text-transform: uppercase;

}

.heading-third{
    text-transform: capitalize;
    font-size: 3.5rem;
    font-style: italic;
    text-transform: uppercase;
    color: $color-gary-blue;
    font-weight: 700;

}


.paragraph{
    font-size: 2rem;
    color: $color-dark;

    
    
}