.margin-bottom-small{
    margin-bottom: 2rem;
}

.margin-bottom-mideum{
    margin-bottom: 4rem;
}

.margin-bottom-large{
    margin-bottom: 7rem;
}

.margin-top-small{
    margin-top: 2rem;
}

.margin-top-mideum{
    margin-top: 4rem;
}

.margin-top-large{
    margin-top: 6rem;
}


.button_icons{
    position: relative;
    right: 7px;
    font-size: 2.1rem;
    top: 1px;
}
